.home {
    position: relative;

    min-height: 895px;
   
    padding-top: 175px;
    padding-bottom: 175px;
}

.home-content {
    max-width: 440px;
}

.home-heading {
    color: #01996D;
    font-family: Georgia, serif;
    font-weight: 700;
    font-size: 65px;
}

.home-heading + * {
    margin-top: 30px;
}

.home-text {
    max-width: 430px;

    color: #484848;
    line-height: 144.5%;
}

.home-text + * {
    margin-top: 53px;
}

.home-btn {
    display: flex;
}

.home-bg-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-color: bisque;
    z-index: -1;
}

.home-bg-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}